<IfDefine !webscript>

RedirectPermanent /~pbdc http://webscript.princeton.edu/~pbdc

</IfDefine>

Redirect 301 /registration.html http://www.dance.zsconcepts.com/competition/registration-main.cgi?comp_id=86
